<div class="modal fade" id="packageModal" tabindex="-1" aria-labelledby="packageModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="packageModalLabel">Add Package</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
      <%= form_with model: [ @courier, @courier&.packages.build ] do |form| %>
        <p>
          <%= form.label :tracking_number %><br>
          <%= form.text_field :tracking_number, value: @tracking_number  %>
        </p>
        <p>
          <%= form.label :delivery_status %><br>
          <%= form.select :delivery_status,
                          Package.delivery_statuses,
                          class:'form-control' %>
        </p>
        <p>
          <%= form.submit "Save", class: "btn btn-primary" %>
        </p>
      <% end %>
      </div>
    </div>
  </div>
</div>
